footer {
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
	color: rgba(12, 12, 12, 0.7);
}
